In [8]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [9]:
# After executing the cell above, Drive
# files will be present in "/content/gdrive/My Drive".
!ls "/content/gdrive/My Drive/iris"

index.html  iris.csv  iris.json  README.md

In [10]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.optimizers import Adam, SGD

In [19]:
import csv
import numpy as np
import pandas as pd

In [20]:
train = pd.read_csv("/content/gdrive/My Drive/iris/iris.csv")

In [21]:
train.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [22]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [25]:
train['species'].value_counts()

versicolor    50
setosa        50
virginica     50
Name: species, dtype: int64

In [30]:
dic = {
    'versicolor': 3,
    'setosa': 2,
    'virginica': 1,
}
train['Specie-Value'] = train.species.map(dic)
train.head()

   sepal_length  sepal_width  petal_length  petal_width species  Specie-Value
0           5.1          3.5           1.4          0.2  setosa             2
1           4.9          3.0           1.4          0.2  setosa             2
2           4.7          3.2           1.3          0.2  setosa             2
3           4.6          3.1           1.5          0.2  setosa             2
4           5.0          3.6           1.4          0.2  setosa             2

In [31]:
train.tail()

     sepal_length  sepal_width  ...    species  Specie-Value
145           6.7          3.0  ...  virginica             1
146           6.3          2.5  ...  virginica             1
147           6.5          3.0  ...  virginica             1
148           6.2          3.4  ...  virginica             1
149           5.9          3.0  ...  virginica             1

[5 rows x 6 columns]

In [32]:
train = train.sample(frac=1)  #shuffle data for good accuracy
train.head()

     sepal_length  sepal_width  ...     species  Specie-Value
139           6.9          3.1  ...   virginica             1
29            4.7          3.2  ...      setosa             2
66            5.6          3.0  ...  versicolor             3
121           5.6          2.8  ...   virginica             1
101           5.8          2.7  ...   virginica             1

[5 rows x 6 columns]

In [33]:
X = train.loc[:, 'sepal_length' : 'petal_width']
X.head()

     sepal_length  sepal_width  petal_length  petal_width
139           6.9          3.1           5.4          2.1
29            4.7          3.2           1.6          0.2
66            5.6          3.0           4.5          1.5
121           5.6          2.8           4.9          2.0
101           5.8          2.7           5.1          1.9

In [34]:
Y = train.species
Y = pd.get_dummies(Y) # apply one hot encoding > to solve multi classification
Y.head()

     setosa  versicolor  virginica
139       0           0          1
29        1           0          0
66        0           1          0
121       0           0          1
101       0           0          1

In [35]:
Y.drop_duplicates()

     setosa  versicolor  virginica
139       0           0          1
29        1           0          0
66        0           1          0

In [41]:
# first layer input_shape (no of columns in X)
# last layer output number of labels in Y (unique values)
# last layer acctivation function depend on your problem (4.6 book)
model = Sequential()
# can change Dense Units, output of hidden layer is 5 and input is 4
model.add(Dense(5, input_shape=(4,), activation='relu'))
model.add(Dense(3, activation='softmax')) # last layer output depend on number of labels, 3 labels

In [42]:
model.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_6 (Dense)              (None, 5)                 25
_________________________________________________________________
dense_7 (Dense)              (None, 3)                 18
=================================================================
Total params: 43
Trainable params: 43
Non-trainable params: 0
_________________________________________________________________

In [49]:
model.compile(optimizer=SGD(lr=0.1),
              loss='categorical_crossentropy', # depend on our problem
              metrics = ['acc']
              )

In [50]:
model.fit(X,Y, epochs=30)

Epoch 1/30
5/5 [==============================] - 0s 2ms/step - loss: 0.3856 - acc: 0.9400
Epoch 2/30
5/5 [==============================] - 0s 2ms/step - loss: 0.4202 - acc: 0.7800
Epoch 3/30
5/5 [==============================] - 0s 1ms/step - loss: 0.3843 - acc: 0.9000
Epoch 4/30
5/5 [==============================] - 0s 2ms/step - loss: 0.3794 - acc: 0.8933
Epoch 5/30
5/5 [==============================] - 0s 1ms/step - loss: 0.3776 - acc: 0.9133
Epoch 6/30
5/5 [==============================] - 0s 1ms/step - loss: 0.3806 - acc: 0.8733
Epoch 7/30
5/5 [==============================] - 0s 1ms/step - loss: 0.3698 - acc: 0.9067
Epoch 8/30
5/5 [==============================] - 0s 1ms/step - loss: 0.3659 - acc: 0.9400
Epoch 9/30
5/5 [==============================] - 0s 1ms/step - loss: 0.4015 - acc: 0.8333
Epoch 10/30
5/5 [==============================] - 0s 1ms/step - loss: 0.3706 - acc: 0.8800
Epoch 11/30
5/5 [==============================] - 0s 1ms/step - loss: 0.3544 - acc: 0.9000
Epoch 12/30
5/5 [==============================] - 0s 1ms/step - loss: 0.3698 - acc: 0.9067
Epoch 13/30
5/5 [==============================] - 0s 1ms/step - loss: 0.3690 - acc: 0.8933
Epoch 14/30
5/5 [==============================] - 0s 1ms/step - loss: 0.3450 - acc: 0.8800
Epoch 15/30
5/5 [==============================] - 0s 1ms/step - loss: 0.3672 - acc: 0.8867
Epoch 16/30
5/5 [==============================] - 0s 2ms/step - loss: 0.3434 - acc: 0.9467
Epoch 17/30
5/5 [==============================] - 0s 1ms/step - loss: 0.3438 - acc: 0.9133
Epoch 18/30
5/5 [==============================] - 0s 1ms/step - loss: 0.3381 - acc: 0.9267
Epoch 19/30
5/5 [==============================] - 0s 2ms/step - loss: 0.3402 - acc: 0.9133
Epoch 20/30
5/5 [==============================] - 0s 2ms/step - loss: 0.3376 - acc: 0.9267
Epoch 21/30
5/5 [==============================] - 0s 2ms/step - loss: 0.3566 - acc: 0.9000
Epoch 22/30
5/5 [==============================] - 0s 2ms/step - loss: 0.3335 - acc: 0.9067
Epoch 23/30
5/5 [==============================] - 0s 2ms/step - loss: 0.3386 - acc: 0.9133
Epoch 24/30
5/5 [==============================] - 0s 2ms/step - loss: 0.3520 - acc: 0.8600
Epoch 25/30
5/5 [==============================] - 0s 2ms/step - loss: 0.3173 - acc: 0.9733
Epoch 26/30
5/5 [==============================] - 0s 2ms/step - loss: 0.3455 - acc: 0.8933
Epoch 27/30
5/5 [==============================] - 0s 2ms/step - loss: 0.3123 - acc: 0.9533
Epoch 28/30
5/5 [==============================] - 0s 2ms/step - loss: 0.3100 - acc: 0.9600
Epoch 29/30
5/5 [==============================] - 0s 2ms/step - loss: 0.3125 - acc: 0.9267
Epoch 30/30
5/5 [==============================] - 0s 2ms/step - loss: 0.3198 - acc: 0.9200

In [51]:
train['predict'] = Y.columns.take(np.argmax(model.predict(train.loc[:, 'sepal_length' : 'petal_width']), axis=1))

In [52]:
train.head()

     sepal_length  sepal_width  ...  Specie-Value     predict
139           6.9          3.1  ...             1   virginica
29            4.7          3.2  ...             2      setosa
66            5.6          3.0  ...             3  versicolor
121           5.6          2.8  ...             1   virginica
101           5.8          2.7  ...             1   virginica

[5 rows x 7 columns]

In [53]:
train.tail()

     sepal_length  sepal_width  ...  Specie-Value     predict
24            4.8          3.4  ...             2      setosa
52            6.9          3.1  ...             3  versicolor
3             4.6          3.1  ...             2      setosa
110           6.5          3.2  ...             1  versicolor
26            5.0          3.4  ...             2      setosa

[5 rows x 7 columns]